@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  font-family: Lato;
}

.intro {
  background-image: url("../images/pexels-photo-803290.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  width: 100%;
}
#intro {
  color: white;
  text-align: center;
  padding-top: 400px;
  font-style: italic;
}
#intro h1 {
  font-size: 70px;
}

#header {
  text-align: center;
  padding-top: 20px;
}
#intro a {
  margin: 50px;
  font-size: 30px;
  border-radius: 20%;
}
.menu{
  height: 50vh;
}
#placeorder{
  height: 100vh;
}