@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  font-family: Lato;
}

.intro {
  background-image: url("../images/pexels-photo-803290.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  width: 100%;
}
#intro {
  color: white;
  text-align: center;
  padding-top: 350px;
  font-size: 30px;
  font-style: italic;
  font-family: ;
}
